body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 3;
}

aside {
    text-align: center;
    flex: 1;
    background-color: #e6e6e6;
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding-right: 5px;
    padding-left: 10px;
    line-height: 20px;
}

li{
    margin-top: 15px;
}

.restaurant {
    background: white;
}

.restaurant img.restaurant-picture {
    width: 100%;
    height: 75%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.food-choices {
    display: block;
    margin-top: 10px;
}

.food-choice {
    background-color: #fafafa;
    border-radius: 6px;
    text-align: center;
}

.food-choice img.food-picture {
    width: 40%;
    height: 15%;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    
}